.messageHeader{
    font-size: 45px;
    font-weight: 900;
    font-family: Poppins;
    text-align: center;
}
.runningHeader{
    font-size: 70px;
    font-weight: 900;
    font-family: Poppins;
}

.subHeader{
    font-size: 30px;
    font-weight: 900;
    font-family: Poppins; 
    text-align: center;
    padding-bottom: 20px;
}
.message{
    font-family: Poppins;
    font-size: 25px;
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.toplayer{
   text-align: left;
   font-weight: 900;
}

.highlighted-text{
    color: #F50040 ;
}

#inlineFormInput{
    height: fit-content;
    height: 40px;
    width: 130px;
    border : none;
    border-bottom: 1.2px solid #F50040 ;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#inlineFormInput:focus{
    border : none;
    box-shadow: none;                                      
    border-bottom: 2px solid #F50040 ;
}

::placeholder {
    font-family:  Poppins;
    text-align: center;
    font-size: 15px;
    color: #e7d3d3;
  }



/* .mainbody{
    padding-bottom: 200px;
} */

.highlited-Orange{
    color: #F50040;
    font-weight: 900;
    text-shadow: 1px 0px black;
}

.highlited-black{
    font-weight: 900;
    text-shadow: 1px 0px black;
}

#sendButton{
    width : 130px;
    height : 40px;
    border-radius: 12px;
    background: transparent;
    border: 1.2px solid #F50040 ;
    font-weight: 500;
    color: #F50040 ;
    float: left;
}

#sendButton:hover, #sendButton:focus, #sendButtony:active {
    color: #fff;
    box-shadow: none;
    background-color: #F50040 ;
    border-color: #F50040 ; 
}

