.navbar-img {
    height: 40px;
    width: 190px;
    margin-left: 50px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu{
    border-width: 5px 0px 5px 0px;
    border-bottom-color: red;
    border-top-color: red;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Poppins;
    color:black;
    font-size: 16px;
}

#midNav{
    margin:auto;
    font-family: Poppins;
    color:black;
    font-size: 17px;
}

.btn-primary {
    width : 130px;
    border-radius: 12px;
    background: transparent;
    border: 1.2px solid black;
    font-weight: 700;
    color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    box-shadow: none;
    background-color: black;
    border-color:black;
} 

.btn-dark {
    font-family: Poppins;
}
