footer{
    font-family: Ubuntu;
    background-color: #190138;
    color: honeydew;
    text-align: left;
}

#footer-link{
    color: honeydew !important;
}

#footer{
    padding-top: 20px;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
  }